* {
	margin:  0;
	padding: 0;
}

.container {
	max-width:  1920px;
	min-width: 320px;
}

.wrap {
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}

.body {
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
}

.table {
	table-layout: fixed;
	width: 100%;
}

.td {
	word-wrap: break-word;
}